<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Maintenance mode</title>
    </head>
    <body>
        <h1>Maintenance mode</h1>
        <p>Reason: <%= reason %></p>
        <p>Deadline: <%= deadline %></p>
    </body>
</html>
